h1 {
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
    margin: auto;
    background-color: #ffffff;
    
    
    } 
    

p{
    background-color: rgb(165, 157, 144);
    color: rgb(2, 2, 2);
    font-family: 'Kanit', sans-serif;
    font-size: 22px;
    margin: auto;
    width: 60%;
    border: 3px solid #ffffff;
    padding: 10px;
}
#button_id
{
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
}
