h1 {
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
    margin: auto;
    background-color: #ffffff;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    } 
    
h2{
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
}
h3{
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
}
p{
    background-color: rgb(165, 157, 144);
    color: rgb(2, 2, 2);
    font-family: 'Kanit', sans-serif;
    font-size: 22px;
    margin: auto;
    width: 60%;
    border: 3px solid #ffffff;
    padding: 10px;
}
#submitid{
        
    font-size: 25px;
  }