h1 {
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
    margin: auto;
    background-color: #ffffff;
    
    
    } 
    
h2{
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
}
h3{
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
}
p{
    background-color: rgb(245, 227, 210);
    color: rgb(0, 0, 0);
    font-family: 'Kanit', sans-serif;
    font-size: 22px;
    margin: auto;
    width: 60%;
    border: 3px solid #ffffff;
    padding: 10px;
}
#button_id{
        
    font-size: 25px;
  }