h1 {
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
   
    
    
} 
p{
        
        font-family: 'Kanit', sans-serif;
        font-size: 22px;
        
}
h2 {
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
}
h3 {
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
}